@import "tailwindcss";
@plugin '@tailwindcss/forms';
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
@import "@skeletonlabs/skeleton/themes/cerberus";

body {
  font-family:
    "Urbanist",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.select,
.input,
.textarea,
.input-group {
  background-color: var(--color-surface-50-950);
  color: var(--color-surface-950-50);
}

[data-theme="cerberus"] body {
  background-image:
    radial-gradient(
      at 24% 25%,
      color-mix(in oklab, var(--color-primary-500) 30%, transparent) 0px,
      transparent 30%
    ),
    radial-gradient(
      at 35% 13%,
      color-mix(in oklab, var(--color-success-500) 18%, transparent) 0px,
      transparent 30%
    ),
    radial-gradient(
      at 100% 64%,
      color-mix(in oklab, var(--color-error-500) 3%, transparent) 0px,
      transparent 40%
    );
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
